

.bg {
  background-image: url("https://64.media.tumblr.com/8f33cf366575f7090cbfe27fa3ee6764/d49c91d08886f9c8-64/s1280x1920/fe34071249af25ca8de860b9d2478d8c1d1fe941.gifv");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
